<div class="container">
    <!-- introduce-box -->
    <div id="introduce-box" class="row">

    <!-- #trademark-box -->
    <div id="trademark-box" class="row">
        <div class="col-sm-12">
            <ul id="trademark-list">
                <li id="payment-methods">Accepted Payment Methods</li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-ups.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-qiwi.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-wu.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-cn.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-visa.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-mc.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-ems.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-dhl.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-fe.jpg"  alt="ups"/></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/data/trademark-wm.jpg"  alt="ups"/></a>
                </li>
            </ul> 
        </div>
    </div> <!-- /#trademark-box -->
    <div id="footer-menu-box">
        <p class="text-center">Copyrights &#169; Group 1</p>
    </div><!-- /#footer-menu-box -->
</div> 